__pycache__/
.ipynb_checkpoints/
output/
img/

# Binary files
*.pdf
*.xlsx

# Data files/demos
*.csv
*.ipynb
!MNIST.ipynb
!ArtStyle.ipynb

# config files
*.ini
!config.ini

# pytorch objects
*.pt
*pth
